@{
    ViewBag.Title = "Send Email";
}

<h2>Send Email</h2>

<p>@ViewBag.Message</p>

<form action="Index" method="post">
    <input type="submit" value="Send Email" class="btn btn-primary" />
</form>
